

/*메인*/
#about {
    width: 100%;
}

#about h1 {
  font-size: 16px;
  font-weight: 700;
}

#about .aboutimg {
  width: 100%;
  height: 300px;
    background-image: url("../images/aboutimg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#about .aboutimg img {
    
}

#about .audio {
  font-size: 12px;
  font-weight: 500;
}

#about #soundlife {
  padding-bottom: 10px;
  font-weight: 700;
  padding-top: 10px;
}

#about #woldsound {
  padding-bottom: 25px;
}

#about #always {
  padding-bottom: 25px;
  font-weight: 500;
}

#about #contents {
  padding-bottom: 5px;
  font-weight: 700;
}

#about .text {
    background-image: url("../images/img_logo1.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;

    margin-bottom: 50px;
}
#about .text, #about h1 {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#about .text #sound {
  padding-bottom: 40px;
  line-height: 30px;
}
#about #img1 {
    display: flex;
}
#about #img1 img {
    justify-content: center;
    margin: 0 auto;
}

#about #img2 {
  display: flex;
  
  padding-bottom: 33px;
  
}
#about #img2 img {
    justify-content: center;
    margin: 0 auto;
}